<style>
  #commentList{
    max-height: 300px;
    overflow-y: scroll;
  }
</style>
<div class="page-wrapper">

  <% flash.get('message').forEach(function (message) { %>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%-message%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% }) %>
  <% flash.get('message').forEach(function (message) { %>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%-message%>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <% }) %>

  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h4 class="page-title">View Task</h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <nav aria-label="breadcrumb" class="breadcrumb-float">

        </nav>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-9" id="prospectView">
        <div class="card h-100">
          <div class="m-t-15 m-r-15">
            <nav aria-label="Page navigation example">

            </nav>
          </div>
          <div class="card-body">
            <!--<h5 class="card-title">Basic Datatable</h5>-->
            <div class="row">
              <input type="hidden" id="taskId" value="<%=task.id || ''%>">
              <div class="col-lg-6 col-xs-12 m-t-30">
                <div class="media">
                <span class="mediaCircleIcon mr-2">
                  <i class="mdi mdi-account fs-18"></i>
                </span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Date</small><br>
                      <%=task.date?task.date:'Not added'%></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 m-t-30">
                <div class="media">
              <span class="mediaCircleIcon mr-2">
              <i class="mdi mdi-domain fs-18"></i>
              </span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Task</small><br>
                      <%=task.taskName?task.taskName:'Not added'%></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 m-t-30">
                <div class="media">
              <span class="mediaCircleIcon mr-2">
              <i class="mdi mdi-briefcase fs-18"></i>
              </span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Priority</small><br>
                      <%=task.priority?task.priority:'Not added'%></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 m-t-30">
                <div class="media">
                <span class="mediaCircleIcon mr-2">
                <i class="mdi mdi-email fs-18"></i>
                </span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Assignee</small><br>
                      <%=task.assignedTo?`${task.assignedTo.firstName} ${task.assignedTo.lastName}`:'Not added'%></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6  col-xs-12 m-t-30">
                <div class="media">
											<span class="mediaCircleIcon mr-2">
												<i class="mdi mdi-map-marker fs-18"></i>
											</span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Deadline</small><br>
                      <%=task.deadline?task.deadline:'Not added'%></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-xs-12 m-t-30">
                <div class="media">
											<span class="mediaCircleIcon mr-2">
												<i class="mdi mdi-city fs-18"></i>
											</span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Status</small><br>
                      <%=task.status?task.status:'Not added'%></h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-12 col-xs-12 m-t-30">
                <div class="media">
											<span class="mediaCircleIcon mr-2">
												<i class="mdi mdi-earth fs-18"></i>
											</span>
                  <div class="media-body">
                    <h6 class="m-t-2 lh-1-5 font-w-6">
                      <small class="text-muted font-w-6">Additional Comments</small><br>
                      <%=task.comments?task.comments:'Not added'%></h6>
                  </div>
                </div>
              </div>
            </div>
            <div div class="row border-top m-t-20">
              <div class="col-lg-12 col-md-12 col-xs-12 m-t-20">
                <a href="/admin/addTask?taskId=<%=task.id%>" class="btn btn-primary" >Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" id="prospectCommentView">
        <div class="card h-100">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class=" m-b-0 border-bottom" style="height: 50px;">
                  <h4 class="page-title">Comments</h4>
                </div>
              </div>
              <div class="col-md-12 m-t-20" id="commentList">
                <% commentData.forEach(temp=>{%>
                <div class="m-b-20 m-t-20 border-bottom" style="height: 50px;">
                  <h6 class="page-title"><%=temp.userName || ''%></h6>
                  <p><%=temp.description || ''%></p>
                </div>
                <%})%>
              </div>
              <div class="col-md-12 m-t-20 m-b-20">
              <button id="addNewComment" class="btn btn-primary" style="float: right"><i class="mdi mdi-plus"></i>Add New Comment</button>
            </div>
              <div class="col-md-12" id="commentBox" style="display: none">
              <textarea class="form-control" style="border-radius: 10px" rows="6" name="comment" id="comment" ></textarea>
              <div class="invalid-feedback" id="commentError">
                Please enter comment
              </div>
                <button id="submitComment" class="btn btn-primary m-t-15" style="float: right">submit</button>
                <button id="cancelComment" class="btn btn-light m-t-15 m-r-10" style="float: right">cancel</button>
            </div>
            </div>
          </div>
          </div>
        </div>
  </div>

</div>

</div>
<script>

  $('#submitComment').click(function(){
      let comment = $('#comment').val().trim()
    $('#commentError').hide();
    if(!comment){
        $('#commentError').show();
        return false;
      }
      let taskId =  $('#taskId').val();
      loadFromControllerAndToComponent('/task/addComment',{comment:comment,taskId:taskId},(successFullCall)=>{
          if(successFullCall.status){
             let str=`<div class="m-b-20 m-t-20 border-bottom" style="height: 50px;">
                  <h6 class="page-title">${successFullCall.commentData.userName }</h6>
                  <p>${successFullCall.commentData.description}</p>
                </div>`
             $('#commentList').prepend(str)
            $('#comment').val('');
             setTimeout(function () {
               $('#commentBox').slideUp();
             },1000);
          }else {
              alert('Something went wrong'+successFullCall.message);
          }
      },(errorCallBack)=>{
        alert('Something went wrong'+errorCallBack.message);
      },'POSt')
  });
  $('#addNewComment').click(function () {
    $('#commentBox').slideDown();
  });
  $('#cancelComment').click(function () {
    $('#commentBox').slideUp();
  });
</script>



